@font-face {
    font-family: 'iranSans';
    src: url('../fonts/sans.ttf') format('truetype');
    /* You can also include other font formats like woff, woff2, etc. for better browser compatibility */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272727;;
    /*background-image: url("../pictures/background.jpg");*/
}
.linear-layout-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*height: 100vh;*/
    /*width: 100vh;*/
}
.linear-layout-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*height: 100vh;*/
    /*width: 100vh;*/
}
.button-type0 {
    align-content: center;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #fbcf1d; /* Green background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 304px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 4px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
.button-type1 {
    align-content: center;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #fbcf1d; /* Green background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 400px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 2px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
.button-type2 {
    align-content: center;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #fbcf1d; /* Green background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 150px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 2px 1px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
.button-type3 {
    align-content: center;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #fbcf1d; /* Green background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 100px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 1px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
/* Add styles for button hover state // hover is the state that cursor is on the item*/
.button-type0:hover {
    background-color: #25252C; /* Darker green on hover */
}
.button-type1:hover {
    background-color: #25252C; /* Darker green on hover */
}
.button-type2:hover {
    background-color: #25252C; /* Darker green on hover */
}
.button-type3:hover {
    background-color: #25252C; /* Darker green on hover */
}
/*select is the value picker*/
select {
    padding: 10px;
    margin-left: 5px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
    font-size: 11px;
    font-weight: bold;
}
/* Style for the text input */
.edit-text {
    width: 300px; /* Set a specific width */
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #dcdcdc;
    color: #000000;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
/*edit text hint can be edited here*/
.edit-text::placeholder {
    font-weight: bold;
    color: #000000; /* Set the placeholder text color */
}
/* Style for the input label (optional) */
.input-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px; /* Optional: Add some space between each checkbox container */
    width: 300px; /* Adjust the desired width for the checkbox container */
}
/* Style for the label associated with the checkbox (optional) */
.checkbox-label {
    font-family: 'iranSans', sans-serif; /* Use the custom font */
    display: inline-block;
    color: white;
    font-size: 11px;
    flex-grow: 1; /* Allow the label to take up the remaining space */
    text-align: right; /* Align the text to the right within the label */
}
/* Style for the actual checkbox */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the desired space between the checkbox and label */
}
/* Style for the checked state of the checkbox */
.custom-checkbox:checked {
    background-color: white;
    border-color: #000000;
}
.text-view {
    color: white;
    font-size: small;
    font-weight: bold;
    text-align: right; /* the text gravity */
    font-family: 'iranSans', sans-serif; /* Use the custom font */
    white-space: pre-line; /* Allow newline characters and <br> tags to create line breaks (enter char) */
}
.text-view2 {
    color: #fc0000;
    font-size: small;
    font-weight: bold;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
    white-space: pre-line; /* Allow newline characters and <br> tags to create line breaks (enter char) */
}
.number-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border: 0.8px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}
.np-input[type="number"] {
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 25px;
    border: none;
    width: 60px;
    text-align: center;
    outline: none;
    font-weight: bold;
    font-family: 'iranSans', sans-serif;
}
.np-button {
    width: 70px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fbcf1d;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-family: 'iranSans', sans-serif;
}
.np-button:hover {
    background-color: #25252C;
}
.text-view3 {
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
.linear-layout-horizontal-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*background-color: #ffffff;*/
    /*height: 100vh;*/
    /*width: 100vh;*/
}
.hidden {
    display: none;
}
.custom-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3D3D49;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%; /* Adjust the maximum width as needed */
    width: 300px; /* Adjust the width as needed */
}
@media screen and (max-width: 600px) {
    .custom-dialog {
        max-width: 90%; /* Adjust the maximum width for smaller screens */
    }
}
.circle {
    width: 40px;
    height: 40px;
    border: 2px solid #e8bb1a;
    border-radius: 50%;
    background-color: #002c88;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.settings_card_item{
    width: 400px;
    padding: 10px;
    background-color: #fbcf1d;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    position: relative;
    font-size: small;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
    color: white;
}
.key-pad{
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #002659; /* Green background color */
    color: #ffffff; /* White text color */
    border: 2px solid #e8bb1a;
    border-radius: 8px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 50px;
    height: 50px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 2px;
    font-family: 'iranSans', sans-serif; /* Use the custom font */
}
.key-pad:hover {
    background-color: #ffc100; /* Darker green on hover */
    border: 2px solid #003b8c;
}
.circle-flag {
    width: 15px;
    height: 15px;
    border: 2px solid #ffbf00;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}